<div class="box">
  <div class="card">
      <div class="card-header">
          <ul class="nav nav-pills nav-fill">
              <li class="nav-item" *ngFor="let aba of abas">
                  <a class="{{aba.class}}" href="{{aba.href}}">{{aba.title}}</a>
              </li>
          </ul>
      </div>


      <div class="card-body">
          <app-cadastrar-aluno></app-cadastrar-aluno>
      </div>

  </div>
</div>