<ng-container>
    <table class="table table-hover" style="margin-top: 50px;">
        <thead>
          <tr>
            <th scope="col">#ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">CPF</th>
            <th scope="col">Código Professor</th>
            <th scope="col">Editar</th>
            <th scope="col">Deletar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let professor of professores">
            <th scope="row">{{professor.id}}</th>
            <td>{{professor.nome}}</td>
            <td>{{professor.email}}</td>
            <td>{{professor.cpf}}</td>
            <td>{{professor.codProfessor}}</td>
            <td>
                <button type="button" class="btn btn-warning" (click)="editar(professor.id)">Editar</button>
            </td>
            <td>
                <button type="button" class="btn btn-danger" (click)="excluir(professor)">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>

      <a href="/novo-professor" class="btn btn-outline-primary">Cadastrar Novo Professor</a>
</ng-container>


