<div class="box">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="mb-3">
      <label for="tx-email" class="form-label">Email</label>
      <input type="email" formControlName="email" class="form-control" id="tx-email" />
    </div>
    <div class="mb-3">
      <label for="pwd-senha" class="form-label">Senha</label>
      <input type="password" formControlName="senha" class="form-control" id="pwd-senha" />
    </div>
    <button type="submit" class="btn btn-primary mr-5">Login</button>
    <a href="/novo-aluno" class="btn btn-outline-primary">Criar Conta</a>
  </form>
</div>
