<ng-container>
    <table class="table table-hover" style="margin-top: 50px;">
        <thead>
          <tr>
            <th scope="col">#ID</th>
            <th scope="col">Titulo</th>
            <th scope="col">Descricao</th>
            <th scope="col">Cod Curso</th>
            <th scope="col">Deletar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let curso of cursos">
            <th scope="row">{{curso.id}}</th>
            <td>{{curso.titulo}}</td>
            <td>{{curso.descricao}}</td>
            <td>{{curso.codCurso}}</td>
            <td>
                <button type="button" class="btn btn-danger" (click)="excluir(curso)">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>

    
</ng-container>


