<div class="container" style="margin-top: 20px;"> 
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img
          style="height: 250px;" 
          src="https://i0.wp.com/www.ambersistemas.com.br/2016/wp-content/uploads/2017/09/dicas-para-captar-alunos-para-sua-escola-20170821133431.jpg-1024x683.jpg?resize=1024%2C683&ssl=1"
        >
        <div class="card-body">
          <h5 class="card-title">Alunos</h5>
          <a href="aluno" class="btn btn-primary">Listar Alunos</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img 
          style="height: 250px;"
          src="https://blog.academia.com.br/wp-content/uploads/2019/02/273098-entenda-qual-e-o-papel-do-professor-na-educacao-dos-alunos.jpg"
        >
        <div class="card-body">
          <h5 class="card-title">Professores</h5>
          <a href="professor" class="btn btn-primary">Listar Professores</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img 
          style="height: 250px;"
          src="https://image.freepik.com/vetores-gratis/fundo-com-uma-colecao-de-diferentes-disciplinas-escolares-para-estudo_160450-67.jpg"
        >
        <div class="card-body">
          <h5 class="card-title">Cursos</h5>
          <a href="curso" class="btn btn-primary">Listar Cursos</a>
        </div>
      </div>
    </div>
  </div>
</div>
