<ng-container>
    <table class="table table-hover" style="margin-top: 50px;">
        <thead>
          <tr>
            <th scope="col">#ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Idade</th>
            <th scope="col">Formacao</th>
            <th scope="col">Matricula</th>
            <th scope="col">Editar</th>
            <th scope="col">Deletar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let aluno of alunos">
            <th scope="row">{{aluno.id}}</th>
            <td>{{aluno.nome}}</td>
            <td>{{aluno.email}}</td>
            <td>{{aluno.idade}}</td>
            <td>{{aluno.formacao}}</td>
            <td>{{aluno.matricula}}</td>
            <td>
                <button type="button" class="btn btn-warning" (click)="editar(id)">Editar</button>
            </td>
            <td>
                <button type="button" class="btn btn-danger" (click)="excluir(aluno)">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>

      <a href="/novo-aluno" class="btn btn-outline-primary">Cadastrar Novo Aluno</a>
</ng-container>

