<div class="card-body">
    <form [formGroup]="cadastroProfessorFrom" (ngSubmit)="cadastrar()" class="row g-3">
      <div class="col-md-12">
        <label for="tx-nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="tx-nome" placeholder="Nome" formControlName="nome">
        <div class="errormsg">
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.nome">
              <div class="error-message"
                *ngIf="cadastroProfessorFrom.get('nome').hasError(validation.type) && (cadastroProfessorFrom.get('nome').dirty || cadastroProfessorFrom.get('nome').touched)">
                <p>{{ validation.message }}</p>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
  
      <div class="col-md-6" style="margin-top: 20px;">
        <label for="tx-email" class="form-label">Email</label>
        <input type="email" class="form-control" id="tx-emai" placeholder="email@email.com" formControlName="email">
        <div class="errormsg">
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.email">
              <div class="error-message"
                *ngIf="cadastroProfessorFrom.get('email').hasError(validation.type) && (cadastroProfessorFrom.get('email').dirty || cadastroProfessorFrom.get('email').touched)">
                <p>{{ validation.message }}</p>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
  
      <div class="col-6" style="margin-top: 20px;">
        <label for="tx-formacao" class="form-label">CPF</label>
        <input  (keyup)="aplicarMascaraCPF()" maxlength="14" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="form-control" id="tx-cpf" formControlName="cpf">
        <div class="errormsg">
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.cpf">
                <div class="error-message"
                  *ngIf="cadastroProfessorFrom.get('cpf').hasError(validation.type) && (cadastroProfessorFrom.get('cpf').dirty || cadastroProfessorFrom.get('cpf').touched)">
                  <p>{{ validation.message }}</p>
                </div>
              </ng-container>
            </div>
          </div>
      </div>
    
  
      <div formGroupName="matching_passwords" class="col-6" style="margin-top: 20px;">
        <label for="tx-senha" class="form-label">Senha:</label>
        <input type="password" class="form-control" id="tx-senha" formControlName="password">
        <div class="errormsg">
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.password">
              <div class="error-message"
                *ngIf="cadastroProfessorFrom.get('matching_passwords').get('password').hasError(validation.type) && (cadastroProfessorFrom.get('matching_passwords').get('password').dirty || cadastroProfessorFrom.get('matching_passwords').get('password').touched)">
                <p>{{ validation.message }}</p>
              </div>
            </ng-container>
          </div>
        </div>
  
      </div>
      <div formGroupName="matching_passwords" class="col-6" style="margin-top: 20px;">
        <label for="tx-conf" class="form-label">Confirmacao de Senha:</label>
        <input type="password" class="form-control" id="tx-conf" formControlName="confirm_password">
        <div class="errormsg">
  
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.confirm_password">
              <div class="error-message"
                *ngIf="cadastroProfessorFrom.get('matching_passwords').get('confirm_password').hasError(validation.type) && (cadastroProfessorFrom.get('matching_passwords').get('confirm_password').dirty || cadastroProfessorFrom.get('matching_passwords').get('confirm_password').touched)">
                <p>{{ validation.message }}</p>
              </div>
            </ng-container>
          </div>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.matching_passwords">
              <div class="error-message"
                *ngIf="cadastroProfessorFrom.get('matching_passwords').hasError(validation.type) && (cadastroProfessorFrom.get('matching_passwords').get('confirm_password').dirty || cadastroProfessorFrom.get('matching_passwords').get('confirm_password').touched)">
                <p>{{ validation.message }}</p>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="col-12" style="margin-top: 20px;">
        <button type="submit" [ngClass]="{'btn btn-primary': !professor || !professor.id, 'btn btn-warning': !!professor && professor.id}" >{{!!professor && professor.id? "Alterar Professor" : "Cadastrar Professor" }}</button>
      </div>

    </form>
