<div class="card-body">
  <form [formGroup]="cadastroFrom" (ngSubmit)="submitForm()" class="row g-3">
    <div class="col-md-12">
      <label for="tx-nome" class="form-label">Nome</label>
      <input type="text" class="form-control" id="tx-nome" formControlName="nome"> 
      <div class="errormsg">
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.nome">
            <div class="error-message"
              *ngIf="cadastroFrom.get('nome').hasError(validation.type) && (cadastroFrom.get('nome').dirty || cadastroFrom.get('nome').touched)">
              <p>{{ validation.message }}</p>
            </div>
          </ng-container>
        </div>
      </div>
    </div> 

     <div class="col-md-12" style="margin-top: 20px;">
      <label for="tx-email" class="form-label">Email</label>
      <input type="email" class="form-control" id="tx-emai" placeholder="email@email.com" formControlName="email" >
      <div class="errormsg">
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error-message"
              *ngIf="cadastroFrom.get('email').hasError(validation.type) && (cadastroFrom.get('email').dirty || cadastroFrom.get('email').touched)">
              <p>{{ validation.message }}</p>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="col-8" style="margin-top: 20px;">
      <label for="tx-formacao" class="form-label">Formacao</label>
      <input type="text" class="form-control" id="tx-formacao" formControlName="formacao">
    </div>
    <div class="col-4" style="margin-top: 20px;">
      <label for="idade" class="form-label">Idade</label>
      <input type="text" class="form-control" id="alunoIdade" placeholder="Sua idade" formControlName="idade">
    </div>


    <div formGroupName="senha" class="col-6" style="margin-top: 20px;">
      <label for="tx-senha" class="form-label">Senha:</label>
      <input type="password" class="form-control" id="tx-senha" formControlName="password">
      <div class="errormsg">
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message"
              *ngIf="cadastroFrom.get('senha').get('password').hasError(validation.type) && (cadastroFrom.get('senha').get('password').dirty || cadastroFrom.get('senha').get('password').touched)">
              <p>{{ validation.message }}</p>
            </div>
          </ng-container>
        </div>
      </div>

    </div>
    <div formGroupName="senha" class="col-6" style="margin-top: 20px;">
      <label for="tx-conf" class="form-label">Confirmacao de Senha:</label>
      <input type="password" class="form-control" id="tx-conf" formControlName="confirm_password">
      <div class="errormsg">

        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.confirm_password">
            <div class="error-message"
              *ngIf="cadastroFrom.get('senha').get('confirm_password').hasError(validation.type) && (cadastroFrom.get('senha').get('confirm_password').dirty || cadastroFrom.get('senha').get('confirm_password').touched)">
              <p>{{ validation.message }}</p>
            </div>
          </ng-container>
        </div>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.matching_passwords">
            <div class="error-message"
              *ngIf="cadastroFrom.get('senha').hasError(validation.type) && (cadastroFrom.get('senha').get('confirm_password').dirty || cadastroFrom.get('senha').get('confirm_password').touched)">
              <p>{{ validation.message }}</p>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="col-12" style="margin-top: 20px;">
      <button type="submit" [ngClass]="{'btn btn-primary': !aluno || !aluno.id, 'btn btn-warning': !!aluno && aluno.id}" class="btn btn-primary">{{!!aluno && aluno.id? "Alterar aluno" : "Cadastrar Aluno" }}</button>
    </div>

  </form>
</div>